<div class="background-image">
  <img src="../images/stock-photo-124520439.jpg" alt="">
</div>
<div class="left-menu">
  <div class="title-head-image">
    <img src="../images/head.jpg" alt="" />
  </div>
  <div class="left-menu-list">
    <ul>
      <li><p class="fa-chevron-right"></p></li>
      <li><p class="fa-chevron-left"></p></li>
      <li><p class="fa-chevron-left"></p></li>
      <li><p class="fa-chevron-left"></p></li>
      <li><p class="fa-chevron-left"></p></li>
    </ul>
  </div>
  <div>
    
  </div>
</div>
