<div class="header">
  <div class="page-title-image">
    <img src="../images/stock-photo-124520439.jpg" alt="">
  </div>
  <div class="page-title-head-image">
    <img src="../images/head.jpg" alt="" />
  </div>
  <div class="page-title">
    <p>不及错身遇个你，穷尽诗家笔</p>
  </div>
</div>
