<div class="instructor">
  <ul>
    <li><h2>Keposmile</h2></li>
    <li class="fa-map-marker">&nbsp坐标&nbsp&nbsp成都&nbsp&nbspUESTC</li>
    <li class="fa-code">&nbsp&nbsp一只前端开发汪&nbsp&nbsp偶尔也搞搞其他&nbsp&nbsp有兴趣的话可以戳右边&nbsp&nbsp<a class="fa-github" href="https://github.com/Keposmile"></a></li>
    <li>前设(mei)计(gong)&nbsp&nbsp视频剪辑和特效也会一点</li>
    <li class="fa-camera">&nbsp&nbsp即将入坑摄影&nbsp&nbsp即将变成留学汪</li>
    <li></li>
  </ul>
</div>
