<div class="login-form">
  <ul>
    <li><input type="text" id="username" placeholder="Enter your name"><label for="username"></label></li>
    <li><input type="password" id="password" placeholder="Enter your password"><label for="password"></label></li>
    <li><button id="login">Login</button></li>
  </ul>
</div>
