<div class="login-form">
  <ul>
    <li class="username"><input type="text" id="username" placeholder="Enter your name"></li>
    <li class="password"><input type="password" id="password" placeholder="Enter your password"></li>
    <li><input type="text" id="verificationCode" max-length="6"  placeholder="Enter your verification code"><button type="button" id="get-verification-code"name="button">Get</button></li>
    <li><button id="login">Login</button></li>
  </ul>
</div>
