.header {
  width: 100%;
  overflow: hidden;
  height: 400px;
}
.header .page-title h1 {
  color: #ddd;
  font-family: FZLTH;
  font-size: 90px;
  position: absolute;
  display: block;
  margin-bottom: 0;
  left: 20%;
  top: 133.33333333px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  /*动画名称*/
  -webkit-animation-duration: 1.5s;
  /*动画持续时间*/
  -webkit-animation-iteration-count: 1;
  /*动画次数*/
  -webkit-animation-delay: 0s;
  /*延迟时间*/
}
.header .page-title p {
  color: #ddd;
  font-family: FZLTQH;
  font-size: 20px;
  position: absolute;
  display: block;
  margin-bottom: 0;
  left: 20%;
  top: 300px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  /*动画名称*/
  -webkit-animation-duration: 1.5s;
  /*动画持续时间*/
  -webkit-animation-iteration-count: 1;
  /*动画次数*/
  -webkit-animation-delay: 0s;
  /*延迟时间*/
}
.header .page-title-image {
  overflow: hidden;
}
.header .page-title-image > img {
  width: 100%;
}
.header .page-title-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  opacity: 0.8;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
}
.header .page-title-head-image {
  -webkit-animation-name: fadeIn;
  /*动画名称*/
  -webkit-animation-duration: 1.5s;
  /*动画持续时间*/
  -webkit-animation-iteration-count: 1;
  /*动画次数*/
  -webkit-animation-delay: 0s;
  /*延迟时间*/
  position: absolute;
  width: 150px;
  height: 150px;
  top: 325px;
  left: 10%;
}
.header .page-title-head-image > img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 3px solid rgba(193, 0, 52, 0.2);
  box-shadow: 2px 2px 5px rgba(20, 20, 20, 0.5);
}
.header .page-title-head-image .page-title-head-button {
  position: absolute;
  width: 100%;
  top: 150px;
}
.header .page-title-head-image .page-title-head-button > button {
  display: block;
  font-family: FZLTH;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  color: #333;
  background-color: rgba(230, 230, 230, 0.5);
  width: 80%;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgba(230, 230, 230, 0.5);
  box-shadow: 2px 2px 5px rgba(20, 20, 20, 0.5);
}
